@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;700&display=swap');

body {
	font-family: 'Tajawal', sans-serif;
	text-align: right;
	direction: rtl;
}
.quick-links {
  right: unset;
  left: -240px;
}
.quick-links:hover {
  right: unset !important;
  left: 0 !important;
}
.quick-links ul li a span, .quick-links .ql-span {
  padding-left: 0 !important;
  padding-right: 0;
}
.ql-div {
	padding-left: 0 !important;
	padding-right: 40px;
}
.ql-div img {
	margin-right: 0 !important;
	margin-left: 5px;
}
.menu-container-top a {
	margin-right: 0 !important;
	margin-left: 15px;
}
